<%- include("partials/header"); -%>

  <h1><%=title%></h1>
  <p><%=content%></p>
  <form action="/posts/delete" class="deleteButton" method="POST">
      <button class="btn btn-secondary" type="submit" name="postId" value="<%= postId %>">Delete</button>
  </form>

<%- include("partials/footer"); -%>
